/* FONT IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@600&display=swap');

/* GLOBAL VARIABLES */
:root {
  --red-light: hsl(356, 90%, 65%);
  --red-medium: hsl(356, 83%, 45%);
  --red-dark: hsl(356, 83%, 20%);
  --blue-light: hsl(200, 100%, 65%);
  --blue-medium: hsl(200, 100%, 8%);
  --blue-dark: hsl(200, 100%, 3%);
  --tan-light: hsl(40, 91%, 91%);
  --tan-medium: hsl(40, 91%, 65%);
  --tan-dark: hsl(40, 91%, 20%);
  --grey: hsl(40, 5%, 40%);
}

/* TAG STYLES */
html {
  /* Positioning */

  /* Display and Box Model */
  margin: 0;
  padding: 1rem;

  /* Colour */
  background-color: var(--blue-dark);
  color: var(--tan-light);

  /* Text */
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;

  /* Other */
}

body {
  /* Display and Box Model */
  margin: auto;
  max-width: 768px;
}

h1 {
  /* Display and Box Model */
  margin: 0.75rem 0;

  /* Text */
  text-align: center;
  font-family: 'Fjalla One';
}

h2 {
  /* Display and Box Model */
  margin: 1rem 0 0 0;

  /* Text */
  font-family: 'Fjalla One';
}

p {
  /* Display and Box Model */
  margin: 0;
}

p + p {
  /* Display and Box Model */
  margin-top: 1rem;
}

/* CLASS STYLES */
.hidden {
  display: none;
}

.mono {
  font-family: 'IBM Plex Mono', monospace;
}

.text-red {
  color: var(--red-medium);
}
