/* INPUT CONTAINERS */
.input-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0.5rem 0;
}

/* MASK LENGTH SLIDER */
#mask-length-container {
  --slider-size: 1rem;
 
}

#mask-length-container label {
  width: 11rem;
}

#mask-length-input {
  width: 5rem;
}

/* IP ADDRESS INPUT */
#ip-address-input {
  width: 10rem;
  padding: rem;
}

/* RANGE INPUT */
.range-input {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: calc(var(--slider-size) / 2);
  background: var(--tan-light);
  border-radius: calc(var(--slider-size) / 2);
}

.range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: var(--slider-size);
  height: var(--slider-size);
  background: var(--red-medium);
  border-radius: calc(var(--slider-size) / 2);
  cursor: pointer;
}

.range-input::-moz-range-thumb {
  width: var(--slider-size);
  height: var(--slider-size);
  background: var(--red-medium);
  border-radius: calc(var(--slider-size) / 2);
  cursor: pointer;
}

/* TEXT INPUT */
.text-input {
  background-color: var(--blue-dark);
  border: 1px var(--red-medium) solid;
  border-radius: 0.25rem;
  color: var(--red-medium);
  text-align: center;
}
