/* CONTAINERS */
div[id$='__container'] {
  /* Display and Box Model */
  margin: 0.5rem 0;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: auto 1fr;
  align-items: center;
}

/* IP ADDRESS INPUT */
#ip__container {
  grid-template-areas: 'label input' 'validator validator';
}

#ip__label {
  /* Display and Box Model */
  grid-area: label;
}

#ip__validator {
  /* Display and Box Model */
  grid-area: validator;

  /* Text */
  text-align: center;
}

#ip__input {
  /* Display and Box Model */
  grid-area: input;
}

/* MASK LENGTH INPUT */
#mask__container {
  /* Display and Box Model */
  grid-template-areas: 'label input';
}

#mask__label {
  /* Display and Box Model */
  grid-area: label;
}

#mask__slider {
  /* Display and Box Model */
  display: none;
}

#mask__input {
  /* Display and Box Model */
  grid-area: input;
}

/* TAG STYLES */
input:not([type='range']) {
  /* Display and Box Model */
  width: calc(100% - 0.5rem);

  /* Color */
  background-color: transparent;

  /* Text */
  font-family: 'IBM Plex Mono', monospace;
  color: var(--red-medium);
  text-align: center;
  font-size: 1rem;

  /* Other */
  border: 1px var(--red-medium) solid;
  border-radius: 0.25rem;
}

input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 0.5rem;
  background: transparent;
  border-radius: 0.5rem;
  border: 1px var(--red-medium) solid;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  background: var(--red-medium);
  border-radius: 0.5rem;
  cursor: pointer;
  border: 1px var(--red-medium) solid;
}

input[type='range']::-moz-range-thumb {
  width: 1rem;
  height: 1rem;
  background: var(--red-medium);
  border-radius: 0.5rem;
  cursor: pointer;
  border: 1px var(--red-medium) solid;
}

label {
  font-family: 'IBM Plex Mono', monospace;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 768px) {
  #mask__container {
    /* Display and Box Model */
    grid-template-areas: 'label input slider';
    grid-template-columns: auto 10em 2fr;
  }

  #mask__slider {
    /* Display and Box Model */
    grid-area: slider;
    display: initial;
    width: calc(100% - 0.5rem);
  }

  input:not([type='range']) {
    font-size: 1.2rem;
  }
}