table {
  width: 100%;
}

table,
tr,
td {
  padding: 0;
}

tr td:not(:first-child) {
  border: 1px solid var(--tan-light);
  width: 6rem;
  text-align: center;
}

tr td:first-child {
  border: 0px solid var(--tan-light);
}
